---
http_interactions:
- request:
    method: get
    uri: https://api.independentreserve.com/Public/GetMarketSummaryprimaryCurrencyCode=Xbt&secondaryCurrencyCode=Aud
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\r\n<html>\r\n    <head>\r\n        <title>Runtime Error</title>\r\n
        \       <meta name=\"viewport\" content=\"width=device-width\" />\r\n        <style>\r\n
        \        body {font-family:\"Verdana\";font-weight:normal;font-size: .7em;color:black;}
        \r\n         p {font-family:\"Verdana\";font-weight:normal;color:black;margin-top:
        -5px}\r\n         b {font-family:\"Verdana\";font-weight:bold;color:black;margin-top:
        -5px}\r\n         H1 { font-family:\"Verdana\";font-weight:normal;font-size:18pt;color:red
        }\r\n         H2 { font-family:\"Verdana\";font-weight:normal;font-size:14pt;color:maroon
        }\r\n         pre {font-family:\"Consolas\",\"Lucida Console\",Monospace;font-size:11pt;margin:0;padding:0.5em;line-height:14pt}\r\n
        \        .marker {font-weight: bold; color: black;text-decoration: none;}\r\n
        \        .version {color: gray;}\r\n         .error {margin-bottom: 10px;}\r\n
        \        .expandable { text-decoration:underline; font-weight:bold; color:navy;
        cursor:hand; }\r\n         @media screen and (max-width: 639px) {\r\n          pre
        { width: 440px; overflow: auto; white-space: pre-wrap; word-wrap: break-word;
        }\r\n         }\r\n         @media screen and (max-width: 479px) {\r\n          pre
        { width: 280px; }\r\n         }\r\n        </style>\r\n    </head>\r\n\r\n
        \   <body bgcolor=\"white\">\r\n\r\n            <span><H1>Server Error in
        '/' Application.<hr width=100% size=1 color=silver></H1>\r\n\r\n            <h2>
        <i>Runtime Error</i> </h2></span>\r\n\r\n            <font face=\"Arial, Helvetica,
        Geneva, SunSans-Regular, sans-serif \">\r\n\r\n            <b> Description:
        </b>An application error occurred on the server. The current custom error
        settings for this application prevent the details of the application error
        from being viewed remotely (for security reasons). It could, however, be viewed
        by browsers running on the local server machine.\r\n            <br><br>\r\n\r\n
        \           <b>Details:</b> To enable the details of this specific error message
        to be viewable on remote machines, please create a &lt;customErrors&gt; tag
        within a &quot;web.config&quot; configuration file located in the root directory
        of the current web application. This &lt;customErrors&gt; tag should then
        have its &quot;mode&quot; attribute set to &quot;Off&quot;.<br><br>\r\n\r\n
        \           <table width=100% bgcolor=\"#ffffcc\">\r\n               <tr>\r\n
        \                 <td>\r\n                      <code><pre>\r\n\r\n&lt;!--
        Web.Config Configuration File --&gt;\r\n\r\n&lt;configuration&gt;\r\n    &lt;system.web&gt;\r\n
        \       &lt;customErrors mode=&quot;Off&quot;/&gt;\r\n    &lt;/system.web&gt;\r\n&lt;/configuration&gt;</pre></code>\r\n\r\n
        \                 </td>\r\n               </tr>\r\n            </table>\r\n\r\n
        \           <br>\r\n\r\n            <b>Notes:</b> The current error page you
        are seeing can be replaced by a custom error page by modifying the &quot;defaultRedirect&quot;
        attribute of the application&#39;s &lt;customErrors&gt; configuration tag
        to point to a custom error page URL.<br><br>\r\n\r\n            <table width=100%
        bgcolor=\"#ffffcc\">\r\n               <tr>\r\n                  <td>\r\n
        \                     <code><pre>\r\n\r\n&lt;!-- Web.Config Configuration
        File --&gt;\r\n\r\n&lt;configuration&gt;\r\n    &lt;system.web&gt;\r\n        &lt;customErrors
        mode=&quot;RemoteOnly&quot; defaultRedirect=&quot;mycustompage.htm&quot;/&gt;\r\n
        \   &lt;/system.web&gt;\r\n&lt;/configuration&gt;</pre></code>\r\n\r\n                  </td>\r\n
        \              </tr>\r\n            </table>\r\n\r\n            <br>\r\n\r\n
        \   </body>\r\n</html>\r\n"
  recorded_at: Wed, 08 Nov 2017 12:17:15 GMT
- request:
    method: get
    uri: https://api.independentreserve.com/Public/GetMarketSummary?primaryCurrencyCode=Xbt&secondaryCurrencyCode=Aud
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"DayHighestPrice":9978.92,"DayLowestPrice":9468.25,"DayAvgPrice":9767.29,"DayVolumeXbt":507.55881433,"DayVolumeXbtInSecondaryCurrrency":504.53575081,"CurrentLowestOfferPrice":9589.98,"CurrentHighestBidPrice":9554.07,"LastPrice":9589.98,"PrimaryCurrencyCode":"Xbt","SecondaryCurrencyCode":"Aud","CreatedTimestampUtc":"2017-11-09T01:40:44.4499872Z"}'
  recorded_at: Thu, 09 Nov 2017 01:40:45 GMT
recorded_with: VCR 3.0.3
