---
http_interactions:
- request:
    method: get
    uri: https://api.independentreserve.com/Public/GetMarketSummary?primaryCurrencyCode=Xbt&secondaryCurrencyCode=Aud
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"DayHighestPrice":9788.0,"DayLowestPrice":8720.0,"DayAvgPrice":9355.03,"DayVolumeXbt":430.23287892,"DayVolumeXbtInSecondaryCurrrency":429.63801004,"CurrentLowestOfferPrice":9705.0,"CurrentHighestBidPrice":9650.0,"LastPrice":9705.0,"PrimaryCurrencyCode":"Xbt","SecondaryCurrencyCode":"Aud","CreatedTimestampUtc":"2017-11-10T04:42:56.9731794Z"}'
  recorded_at: Fri, 10 Nov 2017 04:42:57 GMT
recorded_with: VCR 3.0.3
